/* . */

/* Shared styles for all pages */
.image-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  /* padding: 2rem; */
}

.image-card {
  width: 16vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
  background-color: white;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

}

.image-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.75rem 0;
  text-align: center;
  /* padding: 0.5rem; */
}

/* Responsive styles */
@media (max-width: 1024px) {
  .image-card {
    width: 25vw;
    height: 45vh;
  }
  
  .caption {
    font-size: 1rem;
    padding: 0.5rem 0.2rem;
  }
}

@media (max-width: 600px) {
  .image-card {
    width: 43vw;
    height: 32vh;
  }

  .image-card-container {
    gap: 1rem;
    /* padding: 2rem; */
  }

  .caption {
    font-size: 0.9rem;
  }
} 
