.footer {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: white;
  /* margin-top: 1rem; */
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* Optional: Style the typed.js cursor */
.typed-cursor {
  font-size: 1.2rem;
  color: orange;
  opacity: 1;
  animation: typed-blink 0.7s infinite;
}

@keyframes typed-blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .footer {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .footer {
    font-size: 0.8rem;
  }
}